<header>
<app-navigationbar></app-navigationbar>
</header>
<section class="banner">
    <h3 class= "banner-intro">
        Lorem ipsum, or lipsum as it is sometimes known, 
        is dummy text used in laying out print, graphic or web designs. 
    </h3>
    <div class="hero-banner">
        <app-bannercard></app-bannercard>
        <app-bannercard></app-bannercard>
        <app-bannercard></app-bannercard>
    </div>
</section>
<section class="text-image">
    <div class="block-image">
        <div class="text">
            <p>
                Lorem ipsum, or lipsum as it is sometimes known,
                is dummy text used in laying out print,
                graphic or web designs.
                The passage is attributed to an unknown typesetter
                in the 15th century who is thought to have scrambled
                parts of Cicero's De Finibus Bonorum et Malorum for use
                in a type specimen book.
            </p>
        </div>
        <div class="image">
            <img src="../assets/images/card.PNG"/>
        </div>
    </div>
</section>
<section class="info">
    <app-testimonials></app-testimonials>
</section>
<section class="forms">
    <app-form></app-form>
</section>
<footer></footer>
<router-outlet></router-outlet>